<ion-view view-title="favoritos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate  item-icon-right" ng-repeat="(key, favorito) in favoritos" type="item-text-wrap" href="#/tab/eventos/{{favorito.eid}}">
        <h2>{{favorito.name}}</h2>
        <small>{{favorito.startsOn}} - {{favorito.startsAt}}</small>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(favorito)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
