<ion-view view-title="Locais">


<div class="bar bar-header item-input-inset bar-subheader">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Pesquisar..."  ng-model="searchText.name">
  </label>
</div>

  <ion-content style="margin-top:42px;" lazy-scroll>


    <ion-list>
    <!-- | orderBy: 'name'  -->
      <ion-item class=" item-thumbnail-right" ng-repeat="local in locais  | filter:searchText | limitTo:totalDisplayed" type="item-text-wrap" href="#/tab/locais/{{local.id}}">
        <img image-lazy-loader="lines" image-lazy-src="{{local['@files:avatar.viradaSmall'].url}}" ng-if="local['@files:avatar.viradaBig'].url"  style="width: auto; height: auto;">
        <h2>{{local.name}}</h2>
        <p>{{local.shortDescription}}<br>
        	<small>{{local.endereco}}</small></p>
      </ion-item>
  <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
  </ion-list>

  <div ng-if="locais.length <= 0" class="no"><i class="icon ion-sad-outline" style="font-size:140px"></i><br>Não conseguimos atualizar a programação. </h1></div>


  </ion-content>
</ion-view>
