<ion-view>
    <ion-nav-title class="A_6">
      <span class="SPAN_1">V</span>irada Cultur<span class="SPAN_1">a</span>l
    </ion-nav-title>



  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Informaçãoes</div>
      <div class="item item-body">
        <div>
          Estamos esperando a Secretaria Municipal de Cultura liberar a programação. Por favor, aguarde a próxima atualização do aplicativo. <br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
