<ion-view view-title="Eventos">


<div class="bar bar-header item-input-inset bar-subheader">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Pesquisar..."  ng-model="searchText.name">
  </label>
</div>

  <ion-content style="margin-top:42px;" lazy-scroll>

    <ion-list>
    <!-- | orderBy: 'name'  -->
      <ion-item class=" item-thumbnail-right" ng-repeat="evento in eventos  | filter:searchText | limitTo:totalDisplayed | orderBy:['startsOn','startsAt']" type="item-text-wrap" href="#/tab/eventos/{{evento.id}}">
        <img image-lazy-loader="lines" image-lazy-src="{{evento.defaultImageThumb}}"  ng-if="evento.defaultImageThumb" style="width: auto; height: auto;">
        <h2>{{::evento.name}}</h2>
        <p >{{::evento.shortDescription}}<br>
        	<small>{{::evento.startsOn}} - {{::evento.startsAt}}</small></p>
      </ion-item>
      <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>
  </ion-list>

  <div ng-if="eventos.length <= 0" class="no"><i class="icon ion-sad-outline" style="font-size:140px"></i><br>Não conseguimos atualizar a programação. <br>Deslize para baixo para tentar novamente.</h1></div>


  </ion-content>
</ion-view>
